*.egg-info/
*.o
*.py[co]
*.so
_trial_temp*/
build/
dropin.cache
doc/
docs/_build/
.coverage
htmlcov
twistd.log
dist
.vagrant
debian/bowie.debhelper.log
debian/bowie.substvars
debian/bowie
debian/files
vagrant-vm-sync-folder/*
!vagrant-vm-sync-folder/.gitignore
.cache
*.pid
\#*
*.cookie
